# dotenv-linter:off IncorrectDelimiter

# Do not commit your actual .env file to Git! This may contain secrets or other
# private information.

# Enable/disable step debug logging.
ACTIONS_STEP_DEBUG=true

# Inputs for @github/local-action. Hyphens in input names are preserved, not
# converted to underscores (see core.getInput's INPUT_<NAME> convention).
INPUT_REPOSITORY=gatun/agent
INPUT_DRY-RUN=true
